{% extends "base.html" %}

{% block content %}
	<h1>Account</h1>
	<section>
		<h1>Update Details</h1>
		<form method="POST">
			<input type="hidden" name="target" value="details">
			<label>
				Display Name
				<input type="text" name="display_name" value="{{name}}">
			</label>
			<button type="submit">Update</button>
		</form>
	</section>
	<section>
		<h1>Change Password</h1>
		
		<form method="POST">
			<input type="hidden" name="target" value="password">
			<label>
				Current Password
				<input type="password" name="current_password">
			</label>

			<label>
				New Password
				<input type="password" name="new_password">
			</label>
			<label>
				Repeat New Password
				<input type="password" name="repeat_new_password">
			</label>
			<button type="submit">Change</button>
		</form>
	</section>
{% endblock %}
