<!DOCTYPE html>
<html>
	{%- macro isselected(item) -%}
	{%- if common.current_page == item %}selected{% endif -%}
	{%- endmacro -%}

	{%- macro link(action) -%}
		?action={{action}}&site={{common.current_site_id}}
	{%- endmacro -%}
<head>
	<title>Blog Admin</title>
	<link rel="stylesheet" href="?action=css" type="text/css" media="screen" />
</head>

<body>
	<nav>
		<form class="site_select">
			{% for key in common.current_query.keys() %}
				{% if key != "site" %}
					{% let val = common.current_query.get(key.into()).unwrap() %}
					<input type="hidden" name="{{key}}" value="{{val}}" />
				{% endif %}
			{% endfor %}
			<select name="site">
				{% for site in common.sites %}
					<option value="{{site.id}}" {% if common.current_site_id == site.id %}selected{% endif %}>{{site.site_name}}</option>
				{% endfor %}
			</select>
			<button type="submit">{% include "switch.svg" %}</button>
		</form>
		<ul>
			<li>
				<a href="{% call link("dashboard") %}" class="{% call isselected("dashboard") %}"> {% include "dashboard.svg" %} Dashboard </a>
			</li>
			<li>
				<a href="{% call link("new-post") %}" class="{% call isselected("newpost") %}"> {% include "create.svg" %} New Post </a>
			</li>
			<li>
				<a href="{% call link("manage_posts") %}" class="{% call isselected("posts") %}"> {% include "article.svg" %} Manage Posts </a>
			</li>
			<li>
				<a href="{% call link("comments") %}" class="{% call isselected("comments") %}"> {% include "comment.svg" %} Comments ({{common.comments_waiting}})</a>
			</li>
			<li>
				<a href="{% call link("activitypub_feed") %}" class="{% call isselected("fediverse") %}"> {% include "fediverse.svg" %} Fediverse</a>
			</li>
			<li>
				<a href="{% call link("media") %}" class="{% call isselected("media") %}"> {% include "media.svg" %} Media </a>
			</li>
			<li>
				<a href="{% call link("manage_pages") %}" class="{% call isselected("pages") %}"> {% include "web_page.svg" %} Pages </a>
			</li>
			<li>
				<a href="{% call link("links") %}" class="{% call isselected("links") %}"> {% include "link.svg" %} Links </a>
			</li>
			<li>
				<a href="{% call link("settings") %}" class="{% call isselected("settings") %}"> {% include "settings.svg" %} Settings </a>
			</li>
			<li>
				<a href="{% call link("tags") %}" class="{% call isselected("tags") %}"> {% include "tag.svg" %} Tags</a>
			</li>
			<li>
				<a href="{% call link("templates") %}" class="{% call isselected("templates") %}"> {% include "source.svg" %} Templates</a>
			</li>
			<li>
				<a href="{% call link("regenerate") %}" class="{% call isselected("regenerate") %}"> {% include "sync.svg" %} Regenerate Blog </a>
			</li>
			<li>
				<a href="{% call link("account") %}" class="{% call isselected("account") %}"> {% include "account.svg" %} Account </a>
			</li>
			<li>
				<a href="{% call link("sites") %}" class="{% call isselected("sites") %}"> {% include "sites.svg" %} Sites </a>
			</li>
		</ul>
	</nav>

	<main>
		{% block content %}{% endblock %}
	</main>

</body>

</html>
