{% extends "base.html" %}

{% block content %}
	<h1> Dashboard! </h1>
	<section>
		<h1>Recent Posts</h1>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Posted on</th>
					<th>Comments</th>
					<th>Likes</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in recent_posts %}
					<tr>
						<td>{{ post.title }}</td>
						<td>{{ post.post_date|format_long_date(common.settings.timezone) }}</td>
						<td>{{ post.comment_count }}</td>
						<td>{{ post.like_count }}</td>
						<td>
							<a href="{{crate::utils::link_to("edit_post", [("id", post.id)], common)}}">Edit</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</section>
	<section>
		<h1>Followers</h1>
		<table>
			<tbody>
				{% for f in followers %}
				<tr>
					<td>{{f}}</td>
					<td>{{f.first_seen|format_long_datetime(common.settings.timezone)}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
	<section>
		<h1>Comments</h1>
	</section>
{% endblock %}
