{% extends "base.html" %}

{% block content %}
	<h1> Pages </h1>
	<section>
		<a href="?action=new_page" class="button">New Page</a>
	</section>

	<section>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Slug</th>
					<th>Last updated</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for page in pages %}
					<tr>
						<td>{{ page.title }}</td>
						<td>{{ page.url_slug }}</td>
						<td>{{ page.date_updated|format_long_datetime }}</td>
						<td>
							<a href="?action=edit_page&id={{page.id}}">Edit</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
