{% extends "base.html" %}

{% block content %}
	<h1> Posts </h1>

	<section>
		<div class="pagination">
			<div>{{ post_count }} posts</div>
			<div>
				{% for page in 1..=page_count %}
					{% if page == current_page  %}
						<span> {{ page }} </span>
					{% else %}
						<a href="{{ crate::utils::link_to("posts", [("page", page),("items_per_page", items_per_page)], common) }}">
							{{ page }}
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Date</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for post in posts %}
					<tr>
						<td>{{ post.title }}</td>
						<td>{{ post.post_date|format_long_date }}</td>
						<td>{{ post.state }}</td>
						<td>
							<a href="{{ crate::utils::link_to("edit_post", [("id", post.id)], common) }}">Edit</a>
							{% if post.state == PostStatus::Preview %}
								<a href="{{public_base_url}}?action=preview&id={{post.id}}" target="_blank">Preview</a>
							{% endif %}
						</td>
					</tr>

				{% endfor %}

			</tbody>
		</table>
	</section>
{% endblock %}
