			<label>
				Title
				<input type="text" name="title" value="{{title}}" />
			</label>
			<label>
				Date
				<input type="text" name="date" value="{{date}}" />
			</label>
			<label>
				Status
				<select name="status">
					<option value="Draft" {% if status == PostStatus::Draft %}selected{% endif %}>Draft</option>
					<option value="Published" {% if status == PostStatus::Published %}selected{% endif %}>Published</option>
				</select>
			</label>
			<label for="body">Content</label>
			<textarea name="body">{{body}}</textarea>
