			<label>
				Title
				<input type="text" name="title" value="{{title}}" />
			</label>
			<label>
				Date
				<input type="datetime-local" name="date" value="{{date}}" />
			</label>
			<label>
				Slug
				<input type="text" name="slug" value="{{slug}}" />
			</label>
			<label>
				Status
				<select name="status">
					<option value="Draft" {% if status == PostStatus::Draft %}selected{% endif %}>Draft</option>
					<option value="Preview" {% if status == PostStatus::Preview %}selected{% endif %}>Preview</option>
					<option value="Published" {% if status == PostStatus::Published %}selected{% endif %}>Published</option>
				</select>
			</label>
			<label for="body">Content</label>
			<textarea name="body">{{body}}</textarea>
			<label>
				Social media summary
				<input type="text" name="summary" value="{{summary.unwrap_or("")}}" />
			</label>
			<label>
				Music
				<input type="text" name="song" value="{{song.unwrap_or("")}}" />
			</label>
			<label>
				Mood
				<input type="text" name="mood" value="{{mood.unwrap_or("")}}" />
			</label>
			<label>
				Tags
				<select name="tags" multiple>
					{% for tag in all_tags %}
						<option value="{{tag.id}}" {% if tags.contains(tag.id) %}selected{% endif %}>{{tag.name}}</option>
					{% endfor %}
				</select>
			</label>
