			<label>
				Title
				<input type="text" name="title" value="{{title}}" />
			</label>
			<label>
				Date
				<input type="date" name="date" value="{{date}}" />
			</label>
			<label>
				Slug
				<input type="text" name="slug" value="{{slug}}" />
			</label>
			<label>
				Status
				<select name="status">
					<option value="Draft" {% if status == PostStatus::Draft %}selected{% endif %}>Draft</option>
					<option value="Preview" {% if status == PostStatus::Preview %}selected{% endif %}>Preview</option>
					<option value="Published" {% if status == PostStatus::Published %}selected{% endif %}>Published</option>
				</select>
			</label>
			<label for="body">Content</label>
			<textarea name="body">{{body}}</textarea>
			<label>
				Music
				<input type="text" name="song" value="{{song.unwrap_or("")}}" />
			</label>
			<label>
				Mood
				<input type="text" name="mood" value="{{mood.unwrap_or("")}}" />
			</label>
