{% extends "base.html" %}

{% block content %}
	<h1> Settings </h1>
	<form action="" method="POST">
		<label>
			Blog name
			<input type="text" value="{{blog_name}}" name="blog_name">
		</label>
		<label>
			Base URL
			<input type="text" value="{{base_url}}" name="base_url">
		</label>
		<label>
			Comment CGI URL
			<input type="text" value="{{comment_cgi_url}}" name="comment_cgi_url">
		</label>
		<label>
			Static content base URL
			<input type="text" value="{{static_base_url}}" name="static_base_url">
		</label>
		<button type="submit">Save</button>

	</form>
	
{% endblock %}
