{% extends "base.html" %}

{% block content %}
	<h1> Settings </h1>
	<form action="" method="POST" enctype="multipart/form-data">
		<label>
			Blog name
			<input type="text" value="{{settings.blog_name}}" name="blog_name">
		</label>
		<label>
			Base URL
			<input type="text" value="{{settings.base_url}}" name="base_url">
		</label>
		<label>
			Canonical Hostname (for ActivityPub federation)
			<input type="text" value="{{settings.canonical_hostname}}" name="canonical_hostname">
		</label>
		<label>
			Actor name (for ActivityPub)
			<input type="text" value="{{settings.actor_name}}" name="actor_name">
		</label>
		<label>
			Timezone (tzdb style, eg Pacific/Auckland)
			<input type="text" value="{{settings.timezone}}" name="timezone">
		</label>


		
		<label>
			Comment CGI URL
			<input type="text" value="{{settings.comment_cgi_url}}" name="comment_cgi_url">
		</label>
		<label>
			Static content base URL
			<input type="text" value="{{settings.static_base_url}}" name="static_base_url">
		</label>
		<label>
			Media path (must be web server writable)
			<input type="text" value="{{settings.media_path}}" name="media_path">
		</label>
		<label>
			Media base URL
			<input type="text" value="{{settings.media_base_url}}" name="media_base_url">
		</label>


		<label>
			ActivityPub Avatar
			<input type="file" name="fedi_avatar" />
			{% match settings.fedi_avatar -%}
			{% when Some(a) -%}<img width="64" src="{{settings.media_base_url}}{{a}}">
			{% when None -%}
			{%- endmatch %}
		</label>
		<label>
			ActivityPub Header
			<input type="file" name="fedi_header" />
			{% match settings.fedi_header -%}
			{% when Some(a) -%}<img height="200" src="{{settings.media_base_url}}{{a}}">
			{% when None -%}
			{%- endmatch %}
		</label>


		<label>
			ActivityPub Public Key (PEM format)
			<textarea name="fedi_public_key_pem" cols="50">{{settings.fedi_public_key_pem}}</textarea>
		</label>
		<label>
			ActivityPub Private Key (PEM format, no password)
			<textarea name="fedi_private_key_pem" cols="50">{{settings.fedi_private_key_pem}}</textarea>
		</label>
		<button type="submit">Save</button>

	</form>
	
{% endblock %}
